* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border: 1px solid blue;
}

header {
    border: 2px solid red
}

h1 {
    text-decoration: line-through;
}

.myText{
    background-color: chartreuse;
}

.myImg{
    background-color: darkgoldenrod;
}

input[type=text]:hover{
    background-color: darkkhaki;
}

#button:hover{
    background-color: green;
    border: 2px
}